.header-logo {
  background-color: #000;
  border: 3px solid white;
}
.top-logo{
  width: 8%;
 padding-left: 4%;

}
.title {
  font-size: 72px;
  text-decoration: none;
  color: #000;
  font-family: 'Anton', sans-serif;
}
.navbar{
  float: right;
  padding-top: 50px;
}
.header-link{

text-decoration: none;
font-size: 20px;
color: #fff;
padding: 13px;
font-family: 'Anton', sans-serif;
}
.wallpaper{

  width:100%

}

.img-logo {
  border: 10px solid white;
  border-radius: 100%;
  position: absolute;
  top: 26%;
  left: 20%;

}
.programs-heading{
  font-size: 60px;
}

.program-list {
  font-size: 20px;
  font-weight: bolder;
}
/* about naveen bhai in about us */
.naveen {
  width: 20%;
  position: absolute;
  right: 14%;
}
.about-naveen {
  position: absolute;
  right: 30%;
  left: 15%;
  padding-top: 5%;
}
/* about neeraj in about us */
.neeraj {
  width: 70%;
  position: absolute;
  left: -4%;
  padding-top: 5%;
}
.about-neeraj {
  position: absolute;
  right: 15%;
  left: 37%;
  padding-top: 27%;
}
.about-us{
  color: #ffd800;
  font-weight: bold;
  font-size: 50px;

}
.contact-us{
  padding-top: 50%;
}
.contact-us-link{
  text-decoration: none;
  color: #000;
  padding: 20px;
}
/* media query applied */
@media screen and (max-width: 1126px ) and (min-width: 687px ){
  .img-logo {
    width: 40%;
    border: 10px solid white;
    border-radius: 100%;
    position: absolute;
    top: 13%;
    left: 27%;
  }

}
